# Ignore development files and directories
node_modules
.next
out

# Ignore build artifacts
build
dist

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore version control files
.git
.gitignore

# Ignore editor-specific files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore logs and temporary files
*.log
*.tmp
*.swp
.DS_Store